{
    "trailingComma": "none",
    "singleQuote": true,
    "tabWidth": 4,
    "plugins": [
        "prettier-plugin-apex",
        "@prettier/plugin-xml"
    ],
    "overrides": [
        {
            "files": ["force-app/**/**/classes/*.cls"]
        },
        {
            "files": "force-app/**/**/lwc/**/*.html",
            "options": { "parser": "lwc" }
        }
    ]
}
