h1 + p {
    padding-bottom: 1em;
}

p {
    max-width: 50rem;
}

h3:first-of-type {
    margin-top: 1rem;
}

h3 code {
    color: #be2f7e;
}

table,
pre {
    margin: 0.5rem 0 0.5rem 1rem;
    width: calc(100% - 1rem);
}

th,
td {
    padding: 0 0 0.25rem 0;
}
th:first-child {
    width: 12rem;
}

pre {
    padding: 1em;
    overflow: auto;
    border: 1px solid #dddddd;
    background: #f8f8f8;
}

code {
    padding: 0.2em;
    padding-top: 1px;
    padding-bottom: 1px;
    background: #f8f8f8;
    border: 1px solid #dddddd;
}

pre > code {
    padding: 0;
    background-color: transparent;
    border: none;
}
